openapi: '3.0.3'
info:
  title: LabWork API
  version: '1.0'

servers:
  - url: https://api.server.lab/v1
    description: LabWork Service

tags:
  - name: LabWork Service
    description: Operations for managing the LabWork collection
  - name: Bars Service
    description: Additional discipline-related operations (base URL /bars)

components:
  schemas:
    LabWork:
      type: object
      required:
        - id
        - name
        - coordinates
        - creationDate
        - minimalPoint
        - turnedInWorks
        - averagePoint
      properties:
        id:
          type: integer
          format: int32
          minimum: 1
          readOnly: true
          description: Automatically generated, must be unique and greater than 0
        name:
          type: string
          minLength: 1
          description: Cannot be null or an empty string
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        creationDate:
          type: string
          format: date
          readOnly: true
          description: Automatically generated on object creation, cannot be null
        minimalPoint:
          type: integer
          format: int64
          minimum: 0
          exclusiveMinimum: true
          description: Cannot be null, must be greater than 0
        turnedInWorks:
          type: integer
          format: int32
          description: Cannot be null
        averagePoint:
          type: integer
          format: int32
          minimum: 0
          exclusiveMinimum: true
          description: Cannot be null, must be greater than 0
        difficulty:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Difficulty'
          description: Can be null
        discipline:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Discipline'
          description: Can be null

    Coordinates:
      type: object
      required:
        - x
        - y
      properties:
        x:
          type: integer
          format: int64
          maximum: 150
          description: Cannot be null, maximum value is 150
        y:
          type: integer
          format: int64
          minimum: -138
          exclusiveMinimum: true
          description: Cannot be null, must be greater than -138

    Discipline:
      type: object
      required:
        - name
        - labsCount
      properties:
        name:
          type: string
          minLength: 1
          description: Cannot be null or an empty string
        labsCount:
          type: integer
          format: int64
          description: Cannot be null

    Difficulty:
      type: string
      enum:
        - EASY
        - NORMAL
        - HARD
        - INSANE
        - HOPELESS

    LabWorkPage:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        labWorks:
          type: array
          items:
            $ref: '#/components/schemas/LabWork'

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        details:
          type: array
          items:
            type: string
          description: Optional list of constraint violations

paths:
  /lab-works:
    get:
      tags:
        - LabWork Service
      summary: Get list of Lab Works
      description: >
        Returns a paginated list of Lab Works.
        Supports filtering by any combination of fields and sorting by any field in ascending or descending order.
        Use pageNumber and pageSize for pagination.
      parameters:
        - name: pageNumber
          description: Requested page number (0-based)
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: pageSize
          description: Number of elements per page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 20
        - name: sort
          in: query
          required: false
          style: form
          explode: true
          description: >
            Sorting criteria in the format "field,direction".
            Multiple sort criteria can be provided.
            Direction must be "asc" or "desc".
          schema:
            type: array
            items:
              type: string
              pattern: '^(id|name|coordinatesX|coordinatesY|creationDate|minimalPoint|turnedInWorks|averagePoint|difficulty|disciplineName|disciplineLabsCount),(asc|desc)$'
          example: ["averagePoint,desc", "name,asc"]
        - name: id
          description: Filter by exact id
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: name
          description: Filter by exact name
          in: query
          required: false
          schema:
            type: string
        - name: coordinatesX
          description: Filter by coordinates.x
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: coordinatesY
          description: Filter by coordinates.y
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: creationDate
          description: Filter by exact creation date (ISO 8601 date format)
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: minimalPoint
          description: Filter by exact minimalPoint value
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: turnedInWorks
          description: Filter by exact turnedInWorks value
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: averagePoint
          description: Filter by exact averagePoint value
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: difficulty
          description: Filter by exact difficulty level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Difficulty'
        - name: disciplineName
          description: Filter by discipline.name
          in: query
          required: false
          schema:
            type: string
        - name: disciplineLabsCount
          description: Filter by discipline.labsCount
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Paginated list of Lab Works
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabWorkPage'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags:
        - LabWork Service
      summary: Create a new Lab Work
      description: Adds a new Lab Work to the collection. The id and creationDate fields are generated automatically and must not be provided in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabWork'
      responses:
        '201':
          description: Lab Work created successfully
          headers:
            Location:
              description: URL of the newly created Lab Work
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabWork'
        '400':
          description: Request body violates class integrity constraints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /lab-works/{labWorkId}:
    parameters:
      - name: labWorkId
        description: Unique Lab Work identifier
        in: path
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1

    get:
      tags:
        - LabWork Service
      summary: Get Lab Work by ID
      description: Returns a single Lab Work identified by its unique id.
      responses:
        '200':
          description: The requested Lab Work
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabWork'
        '404':
          description: Lab Work with the given id was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - LabWork Service
      summary: Update an existing Lab Work
      description: Fully replaces all updatable fields of the Lab Work identified by labWorkId. The id and creationDate fields are ignored in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabWork'
      responses:
        '200':
          description: Lab Work updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabWork'
        '400':
          description: Request body violates class integrity constraints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lab Work with the given id was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - LabWork Service
      summary: Delete a Lab Work
      description: Removes the Lab Work identified by labWorkId from the collection.
      responses:
        '204':
          description: Lab Work deleted successfully
        '404':
          description: Lab Work with the given id was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /lab-works/min-average-point:
    get:
      tags:
        - LabWork Service
      summary: Get Lab Work with minimum averagePoint
      description: Returns any one Lab Work whose averagePoint value is the minimum across the entire collection.
      responses:
        '200':
          description: The Lab Work with the minimum averagePoint value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabWork'
        '404':
          description: The collection contains no Lab Works
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /lab-works/difficulty/{difficultyValue}/count:
    get:
      tags:
        - LabWork Service
      summary: Count Lab Works by difficulty
      description: Returns the total number of Lab Works whose difficulty field exactly equals the specified value.
      parameters:
        - name: difficultyValue
          description: The difficulty value to match
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Difficulty'
      responses:
        '200':
          description: Count of Lab Works with the specified difficulty
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                properties:
                  count:
                    type: integer
                    format: int64
                    description: Number of Lab Works whose difficulty equals the given value
        '400':
          description: Invalid difficulty value supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /lab-works/difficulty/{difficultyValue}/less-than:
    get:
      tags:
        - LabWork Service
      summary: Get Lab Works with difficulty less than given value
      description: >
        Returns an array of Lab Works whose difficulty is strictly less than the specified value.
        The enum order is: EASY < NORMAL < HARD < INSANE < HOPELESS.
      parameters:
        - name: difficultyValue
          description: The difficulty threshold; only Lab Works with a strictly lower difficulty are returned
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Difficulty'
      responses:
        '200':
          description: Array of Lab Works with difficulty less than the specified value
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LabWork'
        '400':
          description: Invalid difficulty value supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /discipline/{disciplineId}/labwork/{labworkId}/remove:
    delete:
      tags:
        - Bars Service
      summary: Remove a Lab Work from a discipline program
      description: >
        Removes the specified Lab Work from the program of the specified discipline.
        This operation is part of the Bars service located at /bars and delegates to the LabWork Service API.
      servers:
        - url: https://bars.server.lab
          description: Bars Service (base URL /bars)
      parameters:
        - name: disciplineId
          description: Unique identifier of the discipline
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: labworkId
          description: Unique identifier of the Lab Work to remove from the discipline
          in: path
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
      responses:
        '204':
          description: Lab Work successfully removed from the discipline program
        '404':
          description: Discipline or Lab Work not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /discipline/{disciplineId}/make-hardcore:
    post:
      tags:
        - Bars Service
      summary: Add 10 hardest Lab Works to a discipline program
      description: >
        Adds the 10 most difficult Lab Works (those with the highest difficulty level)
        to the program of the specified discipline.
        This operation is part of the Bars service located at /bars and uses the LabWork Service API to retrieve Lab Works.
      servers:
        - url: https://bars.server.lab
          description: Bars Service (base URL /bars)
      parameters:
        - name: disciplineId
          description: Unique identifier of the discipline
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: The 10 most difficult Lab Works successfully added to the discipline program
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LabWork'
                maxItems: 10
        '404':
          description: Discipline not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Not enough Lab Works available to fill 10 slots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
